.r-full-width {
  width: 100%;
}

.r-fl {
    float: left;
}

.r-fr {
    float: right;
}

.r-align-l {
  text-align: left; 
}
.r-align-c {
  text-align: center; 
}
.r-align-r {
  text-align: right; 
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial,
 sans-serif;
    font-size: 14px;
}

@each $align, $size in ("", 5), (top, 5), (right, 5), (bottom, 5), (left, 5) {
  $i: 100;
  @while $i > 0 {
    @if $align== "" {
      .r-pd-#{$size*$i} {
        padding: ($size * $i) + px !important;
      }
      .r-mg-#{$size*$i} {
        margin: ($size * $i) + px !important;
      }
    } @else {
      .r-pd-#{$align}-#{$size*$i} {
        padding-#{$align}: ($size * $i) + px !important;
      }
      .r-mg-#{$align}-#{$size*$i} {
        margin-#{$align}: ($size * $i) + px !important;
      }
    }
    $i: $i - 1;
  }
}
